.navTabsLayout {
  width: 100%;
  overflow: hidden;
  padding-top: 2px;
  border-bottom: 1px solid rgb(16, 142, 233);
}

.navTabsInner {
  width: 100%;
  display: flex;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: -2px;
}

:global(.sinoui-page-content__hidden) {
  display: none;
}
:global(.sinoui-page-content__shown) {
  display: block;
}

.tab {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 0;
  margin-right: 2px;
  padding: 0 10px 0 5px;
  line-height: 38px;
  background: #fafafa;
  border: 1px solid #e8e8e8;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
}

.tab-close-icon {
  width: 16px;
  height: 16px;
  height: 14px;
  margin-right: -5px;
  margin-left: 3px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  vertical-align: middle;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tab-text {
  display: flex;
  width: 56px;
  align-items: center;
  overflow: hidden;
  word-break: break-all;
  flex-wrap: nowrap;
  height: 100%;
  flex-wrap: wrap;
}

.tab-selected {
  background-color: #108ee9;
  color: #fff;
}

.all-close-icon {
  color: red !important;
  float: right;
  position: relative;
  top: 3px;
}

.popover-tab-close-icon {
  position: absolute;
  right: 3.5px;
  right: -12px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}

.display-flex {
  display: flex;
}

.text-ellipsis {
  cursor: default;
  width: 135px;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
